[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = git://github.com/gmarik/vundle.git
[submodule "kantan"]
	path = kantan
	url = git://github.com/pushrax/kantan.git
[submodule "matcher"]
	path = matcher
	url = git://github.com/burke/matcher.git
[submodule ".zsh/.zprezto"]
	path = .zsh/.zprezto
	url = git://github.com/sorin-ionescu/prezto.git
[submodule ".zsh/z"]
	path = .zsh/z
	url = git://github.com/rupa/z.git
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".vim/plug"]
	path = .vim/plug
	url = https://github.com/junegunn/vim-plug.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
