XTerm*faceName:	DejaVuSansMono:pixelsize=12
XTerm*faceNameDoublesize: IPAGothic:pixelsize=12
XTerm*selectToClipboard: true
XTerm*utf8: 1
XTerm*utf8Title: 1
XTerm*inputMethod: ibus
XTerm*disallowedWindowOps:20,21,SetXprop

*VT100*eightBitInput: false
*VT100*eightBitControl: false
*VT100*eightBitOutput: true
*VT100*utf8: 1

Xft.antialias: 1

! -- colours appended --

